@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
  font-family: 'Tajawal', sans-serif;
}

.App {
  text-align: center;
}

.dashboard-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.dashboard-table table {
  border-collapse: collapse;
  width: 100%;
}

.dashboard-table th, td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}

.dashboard-table th {
  background-color: rgb(117, 201, 250);
}

.dashboard-table td {
  background-color: rgb(205, 235, 253);
}

.dashboard-table form {
  display: flex;
  gap: 5px;
}

.dashboard-table form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-table form * {
  font-size: 20px;
}

.bristol_ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.bristol_li {
  display: inline-flex;
  align-items: center;
}