/* body {
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Trebuchet MS"
} */

/* Removing bullets from lists (for form layout) */
ul {
  list-style-type: none
}

.formPage {
  text-align: left
}

/* input {
  font-family: "Trebuchet MS"
}

button {
  font-family: "Trebuchet MS"
} */